.idea
*.pyc
__pycache__
db.sqlite3
media/
.DS_Store
CLAUDE.md
venv
env
.env
./.env
*.log
/staticfiles/
.vscode/
flake8_results.txt
static/
celerybeat-schedule
celerybeat-schedule.db
postgres_data/
.coverage
dump.rdb
